nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='#') 宮崎駿
    .nav.navbar-nav.navbar-right
      li
        a(href="#section_ask") 引言 INTRO
      li
        a(href="#section_about") 簡介 ABOUT
      li
        a(href="#section_video") 影片 VIDEO
      li
        a(href=" https://www.orientalsunday.hk/294591/%E6%9C%80%E6%96%B0%E5%A8%9B%E8%81%9E/%E5%AE%AE%E5%B4%8E%E9%A7%BF-%E5%90%89%E5%8D%9C%E5%8A%9B%E5%B7%A5%E4%BD%9C%E5%AE%A4-%E9%9B%BB%E5%BD%B1-ctl02/", target='_blank') 宮崎駿 WIKI
header.jumbotron
  .container
    h1 宮崎駿
    hr
    h4 我可以接受失敗，但絕對不能接受未奮鬥過的自己
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        p 宮崎駿（日語：宮﨑 駿／みやざき はやお Miyazaki Hayao，1941年1月5日－）是日本動畫師、動畫導演、及漫畫家。畢業於杉並區立永福小學校、杉並區立大宮中學校、東京都立豐多摩高等學校及學習院大學政治經濟學院。大學畢業後踏入動畫製作工作，日後成為日本知名動畫廠吉卜力工作室的核心人物之一。其執導過11部長篇動畫電影，多次宣布退休，2013年9月時是第7次宣布退休，2016年再度復出。現任吉卜力工作室董事、德間紀念動畫文化財團理事長、三鷹市立動畫美術館館長。目前在埼玉縣所澤市居住。
        h2 動畫大師宮崎駿
section#section_about
  .container
    .row
      .col-sm-12
        h1 宮崎駿動畫/Introduction
        hr
      .col-sm-4
        .img_warp
         a(href='http://inmywordz.com/archives/9685', target='_blank')
          img(src='https://www.travelliker.com.hk/img/upload/img/wallpaper.jpg')
        h3 魔法公主
        hr
        p 《魔法公主》（日語：もののけ姫）是日本吉卜力工作室製作、宮崎駿執導於1997年夏季推出的一部動畫電影。內容描述著在幻想的室町時代裡，一名少年為了找出自己受詛咒的原因而離開家園，之後介入了一場人類與森林神祇兩方的衝突事件。<br>此影片上映成果替吉卜力獲得到新的里程碑，並且曾一度是日本電影史上票房榜首。
      .col-sm-4
        .img_warp
         a(href='http://ezvivi2.com/article/171593.asp', target='_blank')
          img(src='http://www1.pu.edu.tw/~s1021992/201307051504029992959.jpg')
        h3 神影少女
        hr
        p 《神隱少女》（日語：千と千尋の神隠し）是一部由吉卜力工作室製作、宮崎駿擔任導演和劇本，於2001年7月20日上映的日本動畫電影。內容講述一個小女孩誤闖了神靈世界，之後經歷成長的故事。<br>此作品為宮崎駿帶來事業上多項成就，在票房方面於日本國內創下304億日圓收入的記錄，成為目前為止日本史上票房最高的電影。
      .col-sm-4
        .img_warp
         a(href='http://inmywordz.com/archives/12873', target='_blank')
          img(src='https://pic2.zhimg.com/v2-8ec17e1f735e9591ec017a48284cf671_1200x500.jpg')
        h3 天空之城
        hr
        p 《天空之城》（天空の城ラピュタ）是日本吉卜力工作室於1986年8月2日所推出的一部長篇動畫電影，作品的原作、導演、劇本和角色設定皆由宮崎駿來擔任。並為在1985年成立的吉卜力工作室首次公開的劇院作品，和本作品同一天公開上映的另一部宮崎駿作品則是電視動畫《名偵探福爾摩斯》的劇場版「哈德遜夫人人質事件」與「多佛海峽的大空中戰！」
section#section_video
  .container
    .row
      .col-sm-3
        .txt  
          a(href="https://www.youtube.com/embed/ibfRb_SNLg0" target="youtube") 霍爾的移動城堡
      .col-sm-3
        .txt  
           a(href="https://www.youtube.com/embed/OpVTwbWUR_0" target="youtube") 崖上的波妞
      .col-sm-3
        .txt  
           a(href="https://www.youtube.com/embed/G7q07dyIsX8" target="youtube") 借物少女艾莉緹
      .col-sm-3
        .txt  
          a(href="https://www.youtube.com/embed/N-uCT3jGEMs" target="youtube") 魔女宅急便
      .col-sm-12
        .embed-responsive.embed-responsive-16by9
         iframe.embed-responsive-item(src='https://www.youtube.com/embed/ibfRb_SNLg0', allowfullscreen='', name='youtube')
section#section_tani
  .container
    .row
      .b1
      .b2
      .b3
      .b4
        .b4_1
        .b4_2
        .b4_3
      .b5
      .dodoro
        .body
          .eyeright
            .eright
          .tail
        .top
          .ear1
          .ear2
section#section_ground
  .container